<div class="col-sm-6"><img src="img/gatorgrad.jpg" width="90%"></div>
<div class="col-sm-6">
	<h3>Evan James Haala</h3>
	<div id='personal'>
		<p>ejhaaal@gmail.com</p>
		<p>LinkedIn: <a href="https://www.linkedin.com/in/ejhaala/" target="_blank">ejhaala</a></p>
		<p>View project on <a href="https://github.com/ehaala/project-two" target="_blank">GitHub</a></p>
	</div>
	<p>
		"A wise man once said nothing..."
	</p>
</div>