<div>
    <form action="/users/<%= user.id %>/schedule/<%= schedule.id %>" method="put" class="put">
        <p>
        	Day: <input type="text" name="day" value="<%= schedule.day %>"/>
        	Time: <input type="text" name="time" value="<%= schedule.time %>"/>
        </p>
        <button type="submit">Update</button>
    </form>
</div>