<h1>Gyms I follow...</h1>

<div>
	<% gyms.forEach(function(gym) {%>
		<div class="following col-sm-4">
		<a href="/following/<%= gym.name %>"><%= gym.name %></a>
		<br>
		<a href="/following/<%-gym.name %>" type="submit" class="btn btn-danger remove">Unfollow</a>
		</div>
	<% });%>
</div>