<h1><%= gym.name %></h1>

<h3>Followers:</h3>
<div>
	<% users.forEach(function(user) {%>
		<div class="following">
		<a href="/users/<%= user.id %>"><h3><%= user.name %></h3></a>
		</div>
	<% });%>
</div>



<hr />

<form action='' method='POST'>
	<textarea placeholder='Type Review...' name='content' cols='40'></textarea>
	<br>
	<input type='text' placeholder='Name' name='name' required>
	<button type='submit' class='btn btn-outline-success'>Add</button>
</form>

<h3>Reviews</h3>