<div class="background col-sm-12">
	<div class="search col-sm-12">
		<h1>GYMDER</h1>
		<h3>Enter a gym name and/or location below to find gyms near you!</h3>
		<form action="/search" method="post">
		  <div class="form-group">
		    <input type="text" name="city" placeholder="Ex: Seattle, WA">
		  </div>
		  <input type="Submit" class="btn btn-primary">
		</form>
	</div>
</div>