<h1><%= user.name %></h1>

<p>( <%= user.email %> )</p>

<p>Member of:</p>
<div>
	<% gyms.forEach(function(gym) {%>
		<div class="following">
		<a href="/following/<%-gym.name %>"><%= gym.name %></a>
		</div>
	<% });%>
</div>

<hr />

<a href="/users">&larr; Back to all users</a>