<h1><%= user.name %></h1>

<p>( <%= user.email %> )</p>

<p>Following:</p>
<div>
	<% gyms.forEach(function(gym) {%>
		<div class="usergyms">
		<a href="/following/<%-gym.id %>"><%= gym.name %></a>
		</div>
	<% });%>
</div>

<hr />

<a href="/users">&larr; Back to all users</a>