<div class='community col-sm-12' style="overflow:scroll;">
	<% users.forEach(function(user) { %>
	  <div class="user col-sm-4">
	    <h2>
	      <a href="/users/<%= user.id %>">
	        <%= user.name %>
	      </a>
	    </h2>
	  </div>
	<% }); %>
</div>
