html, body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: "Josefin Sans";
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
}

h1 {
	font-family: 'Permanent Marker';
	font-size: 2em;
	text-shadow: 2px 2px black;
}

h3 {
	color: gray;
}

p {
	font-size: .8em;
}

form {
	padding: 20px;
}

input {
	background: black;
	text-align: center;
}

textarea {
	background: black;
}

button {
	background: gray;
}

.background {
	background-image: url('../img/gym.jpg');
	background-size: cover;
	height: 600px;
	padding-top: 100px;
}

.community {
	background-image: url('../img/community.jpg');
	background-size: cover;
	height: 600px;
	padding-top: 50px;
}

.plainback {
	background: darkgray;
	height: 600px;
	padding-top: 20px;
}

.schedule {
	background-image: url('../img/sticky.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 30px;
	height: 300px;
	font-family: "Permanent Marker";
	font-size: 1.1em;
	color: black;
}

.search {
	display: inline-block;
	opacity: .8;
}

.navbar-default {
	background: black;
	border: none;
}

.well {
	background-image: url('../img/woodback.jpg');
	background-size: cover;
	height: 250px;
	opacity: .9;
}

.following {
	margin-bottom: 20px;
	height: 150px;
}

.user {
	height: 75px;
}

h2 a {
	color: black;
	font-family: 'Permanent Marker';
}

.search {
	background: black;
}

.form-control {
	background: black;
	color: white;
}

#personal {
	padding: 40px;
}