html, body {
	margin: 0;
	padding: 0;
	background: black;
	color: white;
	font-family: "Josefin Sans";
	font-weight: lighter;
	font-size: 18px;
	text-align: center;
}

h1 {
	font-size: 48px;
	text-shadow: 2px 2px black;
}

h3 {
	color: gray;
}

p {
	font-size: .8em;
}

form {
	padding: 20px;
}

input {
	background: black;
	text-align: center;
}

textarea {
	background: black;
}

.background {
	background-image: url('../img/gym.jpg');
	background-size: cover;
	height: 600px;
	padding-top: 100px;
}

.community {
	background-image: url('../img/community.jpg');
	background-size: cover;
	height: 600px;
	padding-top: 50px;
}

.plainback {
	background: darkgray;
	height: 600px;
	padding-top: 20px;
}

.search {
	display: inline-block;
	opacity: .8;
}

.navbar-default {
	background: black;
	border: none;
}

.well {
	background-image: url('../img/woodback.jpg');
	background-size: cover;
	height: 250px;
}

.following {
	margin-bottom: 20px;
	height: 150px;
}

.user {
	background: black;
	height: 75px;
	opacity: .8;
}

.search {
	background: black;
}